@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Roboto:wght@100;300;500&display=swap');
body{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
.container {
  max-width: 960px;
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }
.border-top-gray { border-top-color: #adb5bd; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.lh-condensed { line-height: 1.25; }
.order{
  border: 1px solid #c4bfd0;
  padding: 20px;
  border-radius: 5px;
  margin:20px 0px;
  display: block;
  text-align: left;
}
.order h1{
  font-size:22px;
  font-weight:500;
  color:#ffb400;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
}
.back{
  color: #3e2b64;
  font-weight: 500;
  font-size: larger;
}
.note{
  text-align: center;
  color: #000;
}
.line{
  border: 1px solid #c4bfd0;
  padding: 10px;
  border-radius: 5px;
  margin: 0 auto;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.price{
  background-color: #c4bfd0;
  border-left: 10px solid #3e2b64;
  padding: 10px;
  border-radius: 5px;
  margin: 0 auto;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.cen{
  margin: 0 auto !important;
}
.form-control{
  border-color: #cdd4d9;
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
label{
  color: #999999;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
.input-group-addon{
  background-color: #cdd4d9;
  padding: 10px;
}
.fas{
  color:#3e2b64;
  font-size: 20px;
}
.btn{
  background-color: #3e2b64;
  border-color: #3e2b64;
}