@include component(fc-primary) {
	color: $theme-primary;
}

@include component(fc-secondary) {
	color: $theme-secondary;
}

// @include component(fc-yellow) {
// 	color: $theme-yellow;
// }

@include component(fc-default) {
	color: $theme-default;
}

@include component(fc-white) {
	color: $theme-white;
}

@include component(fc-black) {
	color: $theme-black;
}

@include component(fc-grey) {
	color: $theme-grey;
}

@include component(fc-spgrey) {
	color: $theme-sp-grey;
}

@include component(fc-dgrey) {
	color: $theme-dk-grey;
}

@include component(fc-lgrey) {
	color: $theme-lg-grey;
}

@include component(fc-success) {
	color: $theme-success;
}

@include component(fc-warning) {
	color: $theme-warning;
}

@include component(fc-danger) {
	color: $theme-danger;
}

@include component(fc-info) {
	color: $theme-info;
}

@include component(fc-football) {
	color: $theme-football;
}

@include component(fc-tennis) {
	color: $theme-tennis;
}

@include component(fc-padel) {
	color: $theme-padel;
}

@include component(fc-rugby) {
	color: $theme-rugby;
}

@include component(fc-running) {
	color: $theme-running;
}

@include component(fc-eupepsia) {
	color: $theme-eupepsia;
}

@include component(bg-primary) {
	background: $theme-primary;
}

@include component(bg-secondary) {
	background: $theme-secondary;
}

// @include component(bg-yellow) {
// 	background: $theme-yellow;
// }

@include component(bg-white) {
	background: $theme-white;
}

@include component(bg-black) {
	background: $theme-black;
}

@include component(bg-grey) {
	background: $theme-grey;
}

@include component(bg-lgrey) {
	background: $theme-lg-grey;
}

@include component(bg-spgrey) {
	background: $theme-sp-grey;
}

@include component(bg-dgrey) {
	background: $theme-dk-grey;
}

@include component(bg-success) {
	background: $theme-success;
}

@include component(bg-warning) {
	background: $theme-warning;
}

@include component(bg-danger) {
	background: $theme-danger;
}

@include component(bg-info) {
	background: $theme-info;
}

@include component(bg-football) {
	background: $theme-football;
}

@include component(bg-tennis) {
	background: $theme-tennis;
}

@include component(bg-padel) {
	background: $theme-padel;
}

@include component(bg-rugby) {
	background: $theme-black;
}

@include component(bg-running) {
	background: $theme-running;
}

@include component(bg-eupepsia) {
	background: $theme-eupepsia;
}