.ff-primary{
	font-family: $base-font-family;
}

.ff-secondary{
	font-family: $heading-font-family;
}

h1, h2, h3, h4, h5, h6,{
	font-family: $heading-font-family;
	@include rem-spacing(padding, 0);
	@include rem-spacing(margin, 0);
}

.h1, .h2, .h3, .h4, .h5, .h6, p{
	@include rem-spacing(padding, 0);
	@include rem-spacing(margin, 0);
}

h1, .h1{
	@include fontSize($font-size-h1);
}

h2, .h2{
	@include fontSize($font-size-h2);
	@media (max-width: 575px){
		@include fontSize($font-size-h3 + 4);
	}
}

h3, .h3{
	@include fontSize($font-size-h3);
	@media (max-width: 575px){
		@include fontSize($font-size-h6);
	}
}

h4, .h4{
	@include fontSize($font-size-h4);
}

h5, .h5{
	@include fontSize($font-size-h5);
}

h6, .h6{
	@include fontSize($font-size-h6);
}

p{
	@include fontSize($base-font-size);
}

@include component(td-underline) {
	text-decoration: underline;
}

@include component(td-border) {
	border-bottom: 1px solid;
}

@include component(td-border-dashed) {
	border-bottom: 1px dashed;
}

@include component(td-border-dotted) {
	border-bottom: 1px dotted;
}

@include component(fs-default) {
	@include fontSize($base-font-size);
}

@include component(fs-xsmall) {
	@include fontSize($font-size-xsmall);
}

@include component(fs-small) {
	@include fontSize($font-size-small);
}

@include component(fs-medium) {
	@include fontSize($font-size-medium);
}

@include component(fs-large) {
	@include fontSize($font-size-large);
}

@include component(fw-thin) {
	font-weight: $font-weight-thin !important;
}

@include component(fw-light) {
	font-weight: $font-weight-light !important;
}

@include component(fw-normal) {
	font-weight: $font-weight-normal !important;
}

@include component(fw-medium) {
	font-weight: $font-weight-medium !important;
}

@include component(fw-semi-bold) {
	font-weight: $font-weight-semi-bold !important;
}

@include component(fw-bold) {
	font-weight: $font-weight-bold !important;
}

@include component(fw-black) {
	font-weight: $font-weight-black !important;
}

@include component(fw-xblack) {
	font-weight: $font-weight-xblack !important;
}

@include component(tt-normal) {
	text-transform: inherit !important;
}

@include component(tt-uppercase) {
	text-transform: uppercase !important;
}

@include component(tt-capital) {
	text-transform: capitalize !important;
}

@include component(lh-normal) {
	line-height: 1;
}

@include component(lh-medium) {
	line-height: 1.2;
}

@include component(lh-large) {
	line-height: 1.8;
}

@include component(lh-xlarge) {
	line-height: 2;
}

@include component(ls-xsmall) {
	letter-spacing: -2px;
}

@include component(ls-small) {
	letter-spacing: -1px;
}

@include component(ls-normal) {
	letter-spacing: 0px;
}

@include component(ls-medium) {
	letter-spacing: 1px;
}

@include component(ls-large) {
	letter-spacing: 2px;
}

@include component(ls-xlarge) {
	letter-spacing: 4px;
}

@include component(va-middle) {
	vertical-align: middle;
}

@include component(va-top) {
	vertical-align: top;
}

@include component(va-bottom) {
	vertical-align: bottom;
}