@include component(facebook) {
	&:hover{
		color: #3b5998 !important;
	}
}

@include component(facebook-icon) {
	&:hover{
		background: #3b5998 !important;
	}
}

@include component(twitter) {
	&:hover{
		color: #00aced !important;
	}
}

@include component(twitter-icon) {
	&:hover{
		background: #00aced !important;
	}
}

@include component(linkedin) {
	&:hover{
		color: #4875b4 !important;
	}
}

@include component(linkedin-icon) {
	&:hover{
		background: #4875b4 !important;
	}
}

@include component(googleplus) {
	&:hover{
		color: #d34836 !important;
	}
}

@include component(googleplus-icon) {
	&:hover{
		background: #d34836 !important;
	}
}

@include component(instagram) {
	&:hover{
		color: #E4405F !important;
	}
}

@include component(instagram-icon) {
	&:hover{
		background: #E4405F !important;
	}
}

@include component(youtube) {
	&:hover{
		color: #d10000 !important;
	}
}

@include component(youtube-icon) {
	&:hover{
		background: #d10000 !important;
	}
}