@include component(box) {
// @include box-shadow(0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2));
//    border-radius: 4px;
//    background: $theme-white;
//    @include rem-spacing (margin-bottom, 14);

	@include option(shadow-box) {
		@include box-shadow(0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2));
		border-radius: 4px;
		background: $theme-white;
		@include rem-spacing (margin-bottom, 14);
	}

	@include option(registration-box) {
		
		@media (max-width: 1200px) {
			@include rem-spacing (padding, 0, 20);

			&.padd-mobile {
				@include rem-spacing (padding, 0);
			}
		}

	}

	@include option(round-box) {
		//width: 33.33%;
		@include rem-spacing (padding, 40);
		text-align: center;
		position: relative;
		z-index: 8;
		display: flex;
		align-items: center;
		justify-content: center;
		@extend .m-auto;
		border-right: 2px solid;
		flex-grow: 1;
	    flex-basis: 150px;

		.footballpg & {
			border-color: $theme-football;
		}

		.tennispg & {
			border-color: $theme-tennis;
		}

		.rugbypg & {
			border-color: $theme-white;
		}

		.padelpg & {
			border-color: $theme-padel;
		}

		.athleticpg & {
			border-color: $theme-running;
		}

		@media (max-width: 1400px) {
			//@include size(320px, 320px);
			//border-radius: 30px;
		}

		@media (max-width: 1199px) {
			//margin: 10px auto;
			border-radius: 0;
			background-color: transparent;
			width: 100%;
			height: auto;
			@include rem-spacing (padding, 60, 20);
			border-right: 0;
			border-top: 2px solid;
		}

		@media (max-width: 575px) {
			//@include size(300px, 300px);
		}

		@include component(title) {
			color: $theme-white;
			text-transform: uppercase;
			@include rem-spacing (margin-bottom, 26);
			line-height: 1;
			@include fontSize($font-size-h2);

			small {
				display: block;
			}

			@media (max-width: 1400px) {
				@include fontSize($font-size-h2 - 6px);
				@include rem-spacing (margin-bottom, 16);
			}

			@media (max-width: 1199px) {
				//@include rem-spacing (margin-bottom, 30);
				@include fontSize($font-size-h2 + 24px);

				small {
					@include fontSize($font-size-h3);
				}
			}
		}

		@include component(desc) {
			color: $theme-white;
			font-weight: $font-weight-medium;
			@include fontSize($font-size-medium);
			@include rem-spacing (margin-bottom, 30);

			@media (max-width: 1400px) {
				@include fontSize($base-font-size);
				@include rem-spacing (margin-bottom, 20);
			}

			@media (max-width: 1199px) {
				@include fontSize($font-size-medium);
				@include rem-spacing (margin-bottom, 20);
			}
		}

		@include component(book-btn) {
			text-transform: uppercase;
			font-weight: $font-weight-bold;
			@include fontSize($font-size-h4);
			@extend .ff-secondary;
			position: relative;
			//@include rem-spacing (padding-left, 30);
			//line-height: 20px;
			color: $theme-white;
			display: inline-block;
			@include rem-spacing (padding, 8, 40);

			.footballpg & {
				background-color: $theme-football;
			}

			.tennispg & {
				background-color: $theme-tennis;
			}

			.rugbypg & {
				background-color: $theme-black;
			}

			.padelpg & {
				background-color: $theme-padel;
			}

			.athleticpg & {
				background-color: $theme-running;
			}

			// &:before {
			// 	content: '';
			// 	@include size(20px, 20px);
			// 	background-color: $theme-football;
			// 	border-radius: 50%;
			// 	position: absolute;
			// 	left: 0;
			// 	top: 3px;

			// 	// @media (min-width: 2000px) {
			// 	// 	top: 5px;
			// 	// }

			// 	@media (max-width: 575px) {
			// 		top: 2px;
			// 	}
			// }

			@media (max-width: 1199px) {

				// &:before {
				// 	background-color: $theme-white;
				// 	top: 12px;
				// 	left: 30px;
				// }
			}
		}
	}
}