/**** Form Styling Default ****/
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
	background: transparent !important; }
input::-webkit-input-placeholder {
	color: $theme-white; }
input:-moz-placeholder {
	color: $theme-white; }
input::-moz-placeholder {
	color: $theme-white; }
input:-ms-input-placeholder {
	color: $theme-white; }
textarea::-webkit-input-placeholder {
	color: $theme-white; }

input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	-moz-appearance:textfield;
}


@include component(default-form) {

	@include component(control-group) {
		@include rem-spacing(margin-bottom, 24);
		position: relative;

		@include component(form-field) {
			color: $theme-grey;
			@include rem-spacing(padding, 10);
			@include size(100%, 44px);
			border: 1px solid $theme-sp-grey;
			box-shadow: none;
			border-radius: 4px;
			position: relative;
			@extend .ff-primary;
			z-index: 4;
		}

		textarea {
			resize: none;
			min-height: 180px;
		}

		@include component(form-button) {
			-webkit-appearance: none;
			border: none;
			background-color: transparent;
		}

		@include component(codearea) {
			float: left;
			width: 28%;
			position: relative;
		}

		@include component(numberarea) {
			float: right;
			width: 70%;
			position: relative;
		}

		@include component(form-label) {
			display: block;
			@include rem-spacing(margin-bottom, 4);
			@include fontSize($base-font-size);
			@include transition(0.4s);
			@extend .ff-primary;
			font-weight: $font-weight-bold;
		}

		@include option(search-group) {
			display: flex;

			@include component(search-field) {
				background-color: $theme-border;
				@include rem-spacing (padding, 6, 8);
				border-radius: 0px;
				border: 0;
			}

			@include component(search-button) {
				display: flex;
				background-color: $theme-border;

				@include component(form-button) {
					@include rem-spacing (padding, 0, 8);
					cursor: pointer;
					z-index: 6
				}
			}
		}
	}

	@include component(checkbox) {
		position: relative;
		line-height: 20px;

		@include component(label) {
			position: relative;
			display: block;
			float: left;
			@include rem-spacing(margin, 0, 10, 10, 0);
			@include size(18px, 18px);
			border: 2px solid $theme-primary;
			-webkit-tap-highlight-color: transparent;
			top: 1px;

			&:after {
				content: '\2714';
				position: absolute;
				top: 1px;
				left: 1px;
				@include size(12px, 12px);
				color: $theme-primary;
				//@include fontSize($font-size-medium);
				text-align: center;
				line-height: 1;
				@include transform(scale(0));
				@include transition(0.2s);
				@include opacity(0.08);
				color: $theme-primary;
			}
		}

		input[type=checkbox]{
			@include opacity(0);
			position: absolute;
			left: 0;
			top: 0;
			@include size(18px, 20px);
			z-index: 9;
			cursor: pointer;

			&:checked {
				& + .label{
					border-color: $theme-primary;

					&:after{
						@include transform(scale(1));
						@include transition(all 0.2s cubic-bezier(0.35, 0.9, 0.4, 0.9));
						@include opacity(1);
					}
				}
			}
		}

		@include component(text) {
			font-weight: $font-weight-bold;
		}
	}

	@include component(radiobox) {
		position: relative;
		line-height: 20px;

		@include component(label) {
			position: relative;
			display: block;
			float: left;
			margin-right: 10px;
			@include size(20px, 20px);
			border: 2px solid $theme-primary;
			border-radius: 100%;
			-webkit-tap-highlight-color: transparent;

			&:after {
				content: '';
				position: absolute;
				top: 3.2px;
				left: 3px;
				@include size(10px, 10px);
				border-radius: 100%;
				background: $theme-primary;
				@include transform(scale(0));
				@include transition(0.2s);
				@include opacity(0.08);
			}
		}

		input[type=radio]{
			@include opacity(0);
			position: absolute;
			left: 0;
			top: 0;
			@include size(20px, 20px);
			z-index: 9;
			cursor: pointer;

			&:checked {
				& + .label{
					border-color: $theme-primary;

					&:after{
						@include transform(scale(1));
						@include transition(all 0.2s cubic-bezier(0.35, 0.9, 0.4, 0.9));
						@include opacity(1);
					}
				}
			}
		}

		@include component(text) {
			font-weight: $font-weight-bold;
		}
	}

	@include component(custom-label) {
    	display: block;
		@include rem-spacing(margin-bottom, 4);
		@include fontSize($base-font-size);
		@include transition(0.4s);
		@extend .ff-primary;
		font-weight: $font-weight-bold;
    }

	@include component(custom-file-upload) {
		position: relative;
	    display: inline-block;
	    @include size(100%, 44px);

		@include component(custom-file-field) {
			position: absolute;
			left: 0;
			top: 0;
			@include size(100%, 100%);
			z-index: 10;
			cursor: pointer;
			@include opacity(0);
		}

		@include component(custom-file-label) {
			position: absolute;
		    top: 0;
		    right: 0;
		    left: 0;
		    z-index: 8;
		    color: $theme-grey;
			@include rem-spacing(padding, 10);
			@include size(100%, 44px);
			border: 1px solid $theme-sp-grey;
			box-shadow: none;
			border-radius: 4px;
			@extend .ff-primary;
			z-index: 4;

			&:after{
				position: absolute;
			    top: 0px;
			    right: 0;
			    bottom: 0;
			    z-index: 9;
			    display: block;
			    @include rem-spacing(padding, 0, 20);
			    content: "Browse";
			    background-color: #e9ecef;
			    border-left: 1px solid $theme-sp-grey;
			    border-top-right-radius: 4px;
			    border-bottom-right-radius: 4px;
			    line-height: 44px;
			}
		}
	}

	@include option(animate-form) {
		
		@include component(control-group) {

			@include component(form-field) {
				background-color: transparent;
				border: none;
				border-bottom: 1px solid $theme-sp-grey;
				@include rem-spacing(padding, 10, 0);
				border-radius: 0;
			}

			select.form-field{
				@include rem-spacing(padding, 10);
				//border: 1px solid $theme-sp-grey !important;
				//border-radius: 4px !important;
			}

			@include component(form-label) {
				position: absolute;
				left: 0px;
				top: 12px;
			}

			@include component(bar) {
			    position: relative;
			    display: block;

			    &:before, &:after{
		    	    content: '';
		    	    @include size(0px, 2px);
				    bottom: 1px;
				    position: absolute;
				    background: $theme-black;
				    @include transition(0.2s ease all);
			    }

			    &:before{
			    	left: 50%;
			    }

			    &:after{
			    	right: 50%;
			    }
			}

			@include component(form-field) {
				@include transition(0.4s);
				&:focus{
					border: none;
					& ~ .bar:before, & ~ .bar:after{
						width: 50%;
					}
				}
			}

			&.focused {
				@include component(form-field) {
					border: none;
				}
				@include component(form-label) {
					top: -6px;
					@include fontSize($font-size-small);
					color: $theme-black;
				}
				@include component(bar) {
					&:before, &:after{
						width: 50%;
					}
				}
			}
		}
	}

	@include option(registration-form) {
		
		@include component(control-group) {
			
			@include component(form-field) {
				border: none;
				border-bottom: 1px solid $theme-running;
				border-radius: 0;
				color: $theme-white;
				background-color: transparent;
				@include fontSize($font-size-medium);
			}

			select option {
				background-color: $theme-black;
				color: $theme-white;
			}
		}

		@include component(checkbox) {
			@include rem-spacing(margin-bottom, 16);

			@include component(label) {
				border-color: $theme-running;

				&:after {
					color: $theme-running;
				}
			}

			input[type=checkbox]{

				&:checked {
					& + .label{
						border-color: $theme-running;
					}
				}
			}

			@include component(text) {
				color: $theme-white;
			}
		}
	}
}