@include component(pagination) {
    display: flex;
    list-style: none;

    li{
    	display: inline-block;

    	a{
    		position: relative;
		    display: block;
		    @include rem-spacing (padding, 4, 10);
		    margin-left: -1px;
		    color: $theme-primary;
		    background-color: $theme-white;
		    border: 1px solid $theme-border;
    	}

    	&:first-child{
    		a{
			    border-top-left-radius: 4px;
			    border-bottom-left-radius: 4px;

                @include component(xxicon) {
                    position: relative;
                    top: 0.6px;
                }
    		}
    	}

    	&:last-child{
    		a{
			    border-top-right-radius: 4px;
			    border-bottom-right-radius: 4px;

                @include component(xxicon) {
                    position: relative;
                    top: 0.6px;
                }
    		}
    	}

    	&:hover, &.active{
    		a{
    			background-color: $theme-primary;
	    		color: $theme-white;
    		}
    	}
    }
}